.auth-page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
}

.auth-left {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1552566626-52f8b828add9");

  background-size: cover;
  background-position: center;
  color: white;
}

.auth-overlay {
  height: 100%;
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-brand {
  font-size: 24px;
  font-weight: 800;
}

.auth-overlay > div:last-child {
  padding-bottom: 70px;
}

.auth-overlay span {
  color: #ff6b2c;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

.auth-overlay h1 {
  font-size: 50px;
  line-height: 1.1;
  margin: 15px 0;
}

.auth-overlay p {
  max-width: 400px;
  color: #ddd;
  line-height: 1.7;
}

.auth-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.auth-form {
  width: 430px;
  max-width: 100%;
}

.back-home {
  display: inline-block;
  color: #777;
  font-size: 13px;
  margin-bottom: 50px;
}

.auth-form h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.auth-subtitle {
  color: #888;
  font-size: 13px;
  margin-bottom: 35px;
}

.auth-form form > label {
  display: block;
  margin-bottom: 8px;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 600;
}

.auth-form input[type="email"],
.auth-form input[type="password"],
.auth-form input[type="text"] {
  width: 100%;
  padding: 14px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-family: inherit;
  transition: 0.3s;
}
.auth-form input:focus {
  border-color: #ff5a1f;
  box-shadow: 0 0 0 3px rgba(255, 90, 31, 0.1);
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0 25px;
  font-size: 11px;
}

.form-options a {
  color: #ff5a1f;
}
.remember {
  display: flex;
  align-items: center;
  gap: 6px;
}

.remember input {
  accent-color: #ff5a1f;
}

.main-auth-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #ff5a1f;
  color: white;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.main-auth-btn:hover {
  background: #e84b12;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(255, 90, 31, 0.25);
}

.divider {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 30px 0;
  color: #aaa;
  font-size: 11px;
}

.divider::before,
.divider::after {
  content: "";

  flex: 1;

  height: 1px;

  background: #eee;
}

.register-text {
  text-align: center;

  font-size: 13px;

  color: #777;
}
.register-text a {
  color: #ff5a1f;

  font-weight: 600;
}
@media (max-width: 800px) {
  .auth-page {
    grid-template-columns: 1fr;
  }

  .auth-left {
    display: none;
  }

  .auth-right {
    min-height: 100vh;
  }
}
