/* below is the variable declaration for the vlaue that need to be use in the file color hasnt been picked up yet it up to you guys */
:root {
  --bg: #f0ebf0;
  --bg2: #448f4c;
  --bg3: #e5e5e5;

  --txt: #000000;
  --txt2: #6b7280;
  --txtInv: #ffffff;

  --pri: #2563eb;
  --priHov: #1d4ed8;

  --sec: #10b981;
  --secHov: #059669;

  --acc: #f59e0b;

  --err: #ef4444;
  --warn: #f59e0b;
  --succ: #22c55e;
  --info: #3b82f6;

  --bd: #d1d5db;
  --bd2: #9ca3af;

  --shadow: rgba(0, 0, 0, 0.15);
  --overlay: rgba(0, 0, 0, 0.5);

  --rSm: 4px;
  --rMd: 8px;
  --rLg: 12px;
  --rFull: 9999px;

  --sp1: 4px;
  --sp2: 8px;
  --sp3: 12px;
  --sp4: 16px;
  --sp5: 24px;
  --sp6: 32px;

  --fsSm: 14px;
  --fsMd: 16px;
  --fsLg: 20px;
  --fsXl: 28px;
  --fsHero: 48px;

  --fwReg: 400;
  --fwMed: 500;
  --fwBold: 700;

  --trans: all 0.3s ease;

  --navH: 70px;
  --footerH: 100px;
  --container: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
}
h1 {
  color: var(--txt);
  text-align: center;
}
/*==========================
        MAIN HEADER
==========================*/

#mainheader {
  width: 100%;
  height: 90px;

  padding: 0 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

/*========== Logo ==========*/

.logo a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  color: #2e7d32;
}

/*========== Search Bar ==========*/

.search-bar {
  width: 45%;
  height: 46px;

  display: flex;
}

.search-bar input {
  flex: 1;

  border: 2px solid #2e7d32;
  border-right: none;

  border-radius: 8px 0 0 8px;

  padding: 0 15px;
  outline: none;

  font-size: 15px;
}

.search-bar button {
  width: 60px;

  border: none;

  background: #2e7d32;
  color: white;

  border-radius: 0 8px 8px 0;

  cursor: pointer;
  transition: 0.3s;
}

.search-bar button:hover {
  background: #256428;
}

/*========== Icons ==========*/

.header-icons {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header-icons a {
  text-decoration: none;
  color: #333;

  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 15px;
  font-weight: 500;

  transition: 0.3s;
}

.header-icons a i {
  font-size: 22px;
  color: #2e7d32;
}

.header-icons a:hover {
  color: #2e7d32;
}
// TOP BAR

.top-bar {
  width: 100%;
  height: 40px;
  background: #2e7d32;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 8%;
  font-size: 14px;
}

.top-left {
  display: flex;
  gap: 30px;
}

.top-left span {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* .top-right a {
  color: #ec4a4a;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  justify-content: end;
}

.top-right a:hover {
  color: #ffd54f;
} */
